In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv('pdl_file.csv')

# Q a)

In [8]:
rows=data.shape[0]

new_column=[]

for i in range(rows):

        employee_count_by_month = data.loc[i,'employee_count_by_month_by_role']
        
        employee_count_by_month_dict = eval(employee_count_by_month)
        
        sales_count_by_month = {month: details.get('sales', 0) for month, details in employee_count_by_month_dict.items()}
        
        
        sales_df = pd.DataFrame(list(sales_count_by_month.items()), columns=['Month', 'Sales_Employees'])
        
        last_6_months_df = sales_df.tail(6)
        
        initial_count = last_6_months_df['Sales_Employees'].iloc[0]
        
        final_count = last_6_months_df['Sales_Employees'].iloc[-1]
        
        percentage_change = ((final_count - initial_count) / initial_count) * 100

        new_column.append(percentage_change)
        
    
data['6_months_decline']=new_column

data1 = data.sort_values(by=['6_months_decline'],ascending=True)
data1.head()

,id,domain_name,ticker,mic_exchange,summary,name,linkedin_url,profiles,tags,employee_count,...,employee_count_by_month,employee_count_by_month_by_role,employee_count_by_country,top_previous_employers_by_role,top_next_employers_by_role,employee_count_by_month_by_level,recent_exec_hires,recent_exec_departures,created_at,6_months_decline
59,vDJAi8G4DBc1JHqfJiy23gs7JfXU,grom.it,NaN,NaN,"puro gusto, pura meraviglia. \n\nla storia nos...",grom,linkedin.com/company/gromgelato,"['linkedin.com/company/gromgelato', 'linkedin....",NaN,138,...,"{'2010-01': 70, '2010-02': 74, '2010-03': 82, ...","{'2010-01': {'real_estate': 0, 'design': 0, 't...","{'italy': 117, 'united states': 7, 'other_unca...","{'all': {'on25ElMgIUTZPEL4gqBFrgRe4N5Q': 14, '...","{'all': {'34xfZ363o8JiC0StuwJOVQ2pizC6': 34, '...","{'2010-01': {'entry': 3, 'unpaid': 0, 'senior'...",[],[],2024-08-06 14:51:23,-66.666667
69,3U2NCEyDPdXlVPvQUCBdPQTnLTUy,apolloendo.com,HQ8F.F,xfra,"apollo endosurgery, inc. is a medical technolo...",apollo endosurgery,linkedin.com/company/apollo-endosurgery,"['linkedin.com/company/apollo-endosurgery', 'l...","['minimally invasive surgery', 'medical device...",147,...,"{'2010-01': 51, '2010-02': 52, '2010-03': 51, ...","{'2010-01': {'real_estate': 0, 'design': 1, 't...","{'united states': 83, 'costa rica': 39, 'unite...","{'all': {'GcBT06ea1vhWVCbBbISyGgLa2X58': 76, '...","{'all': {'uOaURw7XalPswFBqDiMaCgfewoLz': 88, '...","{'2010-01': {'entry': 0, 'unpaid': 0, 'senior'...",[],[],2024-08-06 14:51:23,-50.000000
66,xAW1TFTYxAyhRgxZhqaf9AX5dwbU,cloudhealthtech.com,NaN,NaN,cloudhealth (now named vmware tanzu cloudhealt...,cloudhealth by vmware,linkedin.com/company/cloudhealthtech,"['linkedin.com/company/cloudhealthtech', 'link...","['capacity planning', 'information technology'...",139,...,"{'2012-01': 1, '2012-02': 1, '2012-03': 1, '20...","{'2012-01': {'real_estate': 0, 'design': 0, 't...","{'united states': 104, 'india': 14, 'united ki...","{'all': {'xb4kCql1z8vnhE6lt7HozwTqo939': 35, '...","{'all': {'xb4kCql1z8vnhE6lt7HozwTqo939': 111, ...","{'2012-01': {'entry': 0, 'unpaid': 0, 'senior'...",[],[],2024-08-06 14:51:23,-29.268293
90,284VfCurhwVxxsdxpRp2owHSrVZ1,seagen.com,SGEN,xnas,seagen is now part of pfizer! together with ou...,seagen,linkedin.com/company/seattle-genetics,"['linkedin.com/company/seagen', 'linkedin.com/...","['blood cancers', 'conjugation chemistry', 'ca...",2002,...,"{'2010-01': 296, '2010-02': 301, '2010-03': 30...","{'2010-01': {'real_estate': 0, 'design': 0, 't...","{'united states': 1778, 'switzerland': 66, 'fr...","{'all': {'ZLZxWmsmC9clKC8pauGroQINAtST': 492, ...","{'all': {'w9C0Znhx6QgUFVBDCwL5kQhGY93j': 1821,...","{'2010-01': {'entry': 0, 'unpaid': 0, 'senior'...",[],"[{'departed_date': '2024-02', 'pdl_id': '-s8B8...",2024-08-06 14:51:23,-27.974277
32,eQom2NL9AToNlO4P65i4JAW7WHVO,novartis.com.sg,NaN,NaN,novartis is reimagining medicine to improve an...,novartis singapore,linkedin.com/company/novartis-sg,"['linkedin.com/company/novartis-sg', 'linkedin...",NaN,145,...,"{'2010-01': 13, '2010-02': 13, '2010-03': 13, ...","{'2010-01': {'real_estate': 0, 'design': 0, 't...","{'singapore': 128, 'india': 7, 'malaysia': 5, ...","{'all': {'Aefrg8G2hrDQqAhlxtUnvAWdP097': 43, '...","{'all': {'Aefrg8G2hrDQqAhlxtUnvAWdP097': 20, '...","{'2010-01': {'entry': 0, 'unpaid': 0, 'senior'...",[],[],2024-08-06 14:51:23,-25.000000

We will use relative decline due to the large variation in no. of employees it is not feasible to judge decline in sales team just by looking at absolute numbers
whereas when we look at realtive decline this gives an more broader view of the situation by normalizing the data and comparing every row equally.

# Q b)

In [9]:

df = pd.read_csv('pdl_file.csv')


def extract_movements(hire_list, movement_type):
    if isinstance(hire_list, str) and hire_list != "[]": #only to check non-empty list
        hires = eval(hire_list) #convert string to a list
        engineering_roles = [
            {'website': df.loc[idx, 'domain_name'],
             'title': hire.get('job_title_role', 'Unknown'),
             'date': hire.get('joined_date') if movement_type == 'arrival' else hire.get('departed_date'),
             'movement_type': movement_type}
            for hire in hires if hire.get('job_title_role') == 'engineering'
        ]
        return engineering_roles
    return []


all_movements = [] #list to store all movements


for idx, row in df.iterrows():
    
    arrivals = extract_movements(row['recent_exec_hires'], 'arrival')
    all_movements.extend(arrivals)
    
    
    departures = extract_movements(row['recent_exec_departures'], 'departure')
    all_movements.extend(departures)


movements_df = pd.DataFrame(all_movements, columns=['website', 'title', 'date', 'movement_type'])


print(movements_df)

              website        title     date movement_type
0        unilever.com  engineering  2024-05     departure
1        unilever.com  engineering  2024-04     departure
2          vmware.com  engineering  2024-05       arrival
3          vmware.com  engineering  2024-02     departure
4          vmware.com  engineering  2024-03     departure
5          vmware.com  engineering  2024-02     departure
6          vmware.com  engineering  2024-02     departure
7          vmware.com  engineering  2024-02     departure
8          vmware.com  engineering  2024-03     departure
9       medtronic.com  engineering  2024-04       arrival
10      medtronic.com  engineering  2024-02     departure
11       docusign.com  engineering  2024-03       arrival
12         pfizer.com  engineering  2024-02     departure
13  pernod-ricard.com  engineering  2024-04       arrival
14             pg.com  engineering  2024-02       arrival
15             pg.com  engineering  2024-03       arrival
16             pg.com  engineering  2024-05     departure
17       flatiron.com  engineering  2024-05       arrival
18       flatiron.com  engineering  2024-04     departure